* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 48px 100px;
  height: auto;
  width: calc(100vw - 200px);

  .pageTitle {
    display: flex;
    justify-content: center;
  }

  .iconList {
    padding: 24px 0;

    .spinContainer {
      width: 500px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .iconCard {
      flex: 1 1 200px;

      .iconDescription {
        width: 100%;
        padding-top: 12px;
        word-break: break-all;
        text-align: center;
      }
    }
  }

  .pagination {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}